$font-color: #1d2129;
$grey-border: solid 1px grey;
$light-grey-border: solid 1px rgb(218, 214, 214);
$bg-gray: #e9ebee;
$bg-blue: #4267b2;
$font-purple: rgb(99, 74, 182);
$font-gray: #949494;
$icon-white: white;
$border-gray: gray;
$post-border: solid 1px rgb(226, 218, 218);
$compose-bg: #F6F7F9;


.white {
  color: white;
}

body {
    background-color: $bg-gray;
    color: $font-color;
}